@font-face {
    font-family: Senpai;
    src: url("fonts/tarrget-font/TarrgetHalfToneRegular-gzRY.otf")
}

@font-face {
    font-family: Pixel;
    src: url("fonts/pixel-emulator-font/PixelEmulator-xq08.ttf")
}

body {
    font-family: Senpai;
    background-image: url("img/4d294efc850af11b0226a8ed85c252c4--girls-on-motorcycles-gun-art.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.container {
    text-align: center;
    float: left;
    margin-left: 80px;
    margin-top: 70px;
    padding-bottom: 124px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: -4px -4px 5px 0 rgba(255, 255, 255, 0.7),
    4px 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.rgba-color {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#image {
    width: 450px;
    height: 250px;
    border-radius: 7px;
    box-shadow: -4px -4px 5px 0 rgba(255, 255, 255, 0.7),
    4px 4px 5px 0 rgba(0, 0, 0, 0.2)
}

.random-color {
    font-family: Pixel;
    font-size: 12px;
    float: left;
}

.specific-color {
    font-family: Pixel;
    font-size: 12px;
    float: right;
}

.butt {
    font-family: Pixel;
    color: white;
    width: 100px;
    float: left;
    margin-top: 455px;
    cursor: pointer;
    margin-left: -450px;
    border-radius: 20px;
    box-shadow: -4px -4px 5px 0 rgba(255, 255, 255, 0.7),
    4px 4px 5px 0 rgba(0, 0, 0, 0.2)
}

.butt:hover {
    background-color: teal;
    padding: 2px 2px;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}

.btn {
    color: white;
}

.dropdown-menu {
    font-family: Pixel;
    text-align: center;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 455px;
    margin-left: -208px;
    padding: 3px 3px;
    cursor: pointer;
    border-radius: 20px;
    letter-spacing: 2px;
    box-shadow: -4px -4px 5px 0 rgba(255, 255, 255, 0.7),
    4px 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu:hover {
    background-color: teal;
    padding: 2px 2px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}

.show {
    width: 60px;
    float: left;
    margin: 20px;
    margin-top: 510px;
    margin-left: -210px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -1px -1px 5px 0 rgba(255, 255, 255, 0.7),
    1px 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.show:hover {
    background-color: teal;
    padding: 2px 2px;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}

.reset {
    width: 68px;
    float: left;
    margin: 20px;
    margin-top: 510px;
    margin-left: -135px;
    cursor: pointer;
    border-radius: 20px;
   box-shadow: -1px -1px 5px 0 rgba(255, 255, 255, 0.7),
    1px 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.reset:hover {
    background-color: teal;
    padding: 2px 2px;
    padding-left: 0px;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}
button {
    font-family: Pixel;
    padding: 3px 3px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 20px;
    letter-spacing: 2px;
    box-shadow: -4px -4px 5px 0 rgba(255, 255, 255, 0.7),
    4px 4px 5px 0 rgba(0, 0, 0, 0.2)
}

.button:hover {
    background-color: teal;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}

.vehicles {
    text-align: center;
    float: right;
    margin-right: 70px;
    margin-top: 70px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 432px;
    padding-top: 10px;;
    box-shadow: -3px -3px 2px 0 rgba(255, 255, 255, 0.7),
    3px 3px 2px 0 rgba(0, 0, 0, 0.2);
}


#select-motor {
    width: 230px;
    height: 160px;
    float: left;
    margin-left: -240px;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: -4px -4px 2px 0 rgba(255, 255, 255, 0.7),
    4px 4px 2px 0 rgba(0, 0, 0, 0.2);

}

.select-motor {
    float: left;
    margin-left: -157px;
    margin-top: 145px;
    position: absolute;
    box-shadow: -1px -1px 5px 0 rgba(255, 255, 255, 0.7),
    1px 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.select-motor:hover {
    background-color: teal;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}

#select-car {
    width: 230px;
    height: 160px;
    float: left;
    margin-left: 8px;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: -4px -4px 2px 0 rgba(255, 255, 255, 0.7),
    4px 4px 2px 0 rgba(0, 0, 0, 0.2);

}

.select-car {
    float: left;
    margin-left: 73px;
    margin-top: 145px;
    position: absolute;
    box-shadow: -1px -1px 5px 0 rgba(255, 255, 255, 0.7),
    1px 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.select-car:hover {
    background-color: teal;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}

#select-tri-wheel {
    width: 230px;
    height: 160px;
    float: left;
    margin-left: -110px;
    margin-top: 200px;
    position: absolute;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: -4px -4px 2px 0 rgba(255, 255, 255, 0.7),
    4px 4px 2px 0 rgba(0, 0, 0, 0.2);

}

.select-tri-wheel {
    float: left;
    margin-left: -43px;
    margin-top: 330px;
    position: absolute;
    box-shadow: -1px -1px 5px 0 rgba(255, 255, 255, 0.7),
    1px 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.select-tri-wheel:hover {
    background-color: teal;
    border-radius: 20px;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2)
}
